.flexbox.clearfix
  = render partial: "shared/side_bar"
  .right

    .chat__title

      .edit__btn
        Edit

    .chat__his
      .his1
        = render @messages
    .send__text
      .type_text
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input', placeholder: '  type a message'
          .image_tag
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'image', class: 'contents__btn--icon'
              = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'send'
